@model IEnumerable<GolovicWebApp.Models.PortfolioItem>


<h1>Portfolio</h1>
<div class="portfolio-items">
    @foreach (var item in Model)
    {
        <div class="portfolio-item">
            <img src="@item.ImageUrl" alt="@item.Name" this.src='/images/default.jpg' ; />
            <h2>@item.Name</h2>
            <p>@item.Description</p>
            <a href="@item.ProjectUrl" target="_blank">View Project</a>
        </div>
    }
</div>
